{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <form class="form-login mt-3" id="form">
        <div class="form-group">
            <label for="inputNome">Nome da turma: </label>
            <input type="text" class="form-control" name="nome" id="inputNome" placeholder="Digite o nome da turma"
                required autofocus>
        </div>
        <div class="form-group">
            <label for="inputNumeroSala">Numero da sala: </label>
            <input type="text" class="form-control" name="numero_sala" id="inputNumeroSala"
                placeholder="Digite o numero da sala" maxlength="30" required>
        </div>
        <div class="form-group">
            <label for="selectRole">Professor:</label>
            <select class="form-control" name="professor_id" id="selectRole" required>
                <option>Selecione</option>
                {% for professor in professores %}
                {% if not professor.turma.id %}
                <option value="{{professor.id}}">{{professor.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div id="message"></div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function () {
        $('#form').submit(function (e) {

            e.preventDefault()

            var form = $('#form').serialize()

            create(form)

            return false
        })
    })

    function create(form) {
        $("#message").removeClass("alert alert-success").html("")
        $("#message").removeClass("alert alert-danger").html("")
        $.ajax({
            url: '{{BASE_HREF}}/turmas',
            type: "POST",
            data: form,
            success: async function (result) {
                return location.href = '{{BASE_HREF}}/turmas'
            },
            error: function (result) {
                var json = $.parseJSON(result.responseText)
                return $("#message").addClass("alert alert-danger").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            }
        })
    }
</script>
{% endblock %}