{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <a href="{{BASE_HREF}}/turmas/create" class="btn btn-primary mt-4">Cadastrar Turma</a>
    <div id="message"></div>
    <div class="row mt-3">
        {% for turma in turmas %}
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Turma: {{turma.nome}}</h5>
                    <span class="card-text">Professor: {{turma.professor.nome}}</span>
                    <p class="card-text">Numero da Sala: {{turma.numero_sala}}</p>
                    <a href="{{BASE_HREF}}/turmas/{{turma.id}}" class="btn btn-primary">Visualizar</a>
                    <a href="{{BASE_HREF}}/turmas/{{turma.id}}/edit" class="btn btn-warning">Alterar</a>
                    <button type="button" class="btn btn-danger" onclick="deletar({{turma.id}})">Remover</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function deletar(id) {
        $("#message").removeClass("alert alert-success").html("")
        $("#message").removeClass("alert alert-danger").html("")
        $.ajax({
            url: '{{BASE_HREF}}/turmas/destroy/'+id,
            type: "POST",
            success: async function (result) {
                document.location.reload();
            },
            error: function (result) {
                var json = $.parseJSON(result.responseText)
                return $("#message").addClass("alert alert-danger mt-3").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            }
        })
    }
</script>
{% endblock %}