{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Turma: {{turma.nome}}</h4>
                <hr>
                <p class="mb-0">Professor: {{turma.professor.nome}}</p>
                <p class="mb-0">Numero da Sala: {{turma.numero_sala}}</p>
                <hr>
                <h4 class="alert-heading">Alunos:</h4>
                <div class="row">
                    {% for aluno in turma.alunos %}
                    <div class="col-sm-4">
                        <div class="alert alert-dark alert-dismissible fade show" role="alert">
                            {{aluno.nome}}
                            <button type="button" class="close" onclick="deletarAluno({{aluno.id}}, {{turma.id}})">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function deletarAluno(aluno_id, turma_id) {
        $("#message").removeClass("alert alert-success").html("")
        $("#message").removeClass("alert alert-danger").html("")
        $.ajax({
            url: '{{BASE_HREF}}/alunos/destroy',
            type: "POST",
            data: {aluno_id: aluno_id, turma_id: turma_id},
            success: async function (result) {
                document.location.reload();
            },
            error: function (result) {
                console.log('erro deletar')
            }
        })
    }
</script>
{% endblock %}