<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Controle de faltas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{BASE_HREF}}/css/admin.css">
</head>

<body>
    <div class="container">
        <form class="form-login" id="form">
            <h2 class="form-login-heading">Login</h2>
            <div class="form-group">
                <label for="inputUser">Usuario: </label>
                <input type="text" class="form-control" name="usuario" id="inputUsuario" placeholder="Usuario"
                    maxlength="30" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Senha: </label>
                <input type="password" class="form-control" name="senha" id="inputPassword" placeholder="Senha"
                    maxlength="15" required><br />
            </div>
            <div id="message"></div>
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>
    </div>

    <script type="text/javascript" src="{{BASE_HREF}}/js/admin.js"></script>

    <script>
        $(document).ready(function () {
            $('#form').submit(function (e) {

                e.preventDefault();

                var form = $('#form').serialize();

                login(form);

                return false;
            })
        })

        function login(form) {
            $.ajax({
                url: 'login',
                type: "POST",
                data: form,
                success: async function (result) {
                    return location.href = '{{BASE_HREF}}'
                },
                error: function (result) {
                    var json = $.parseJSON(result.responseText)
                    return $("#message").addClass("alert alert-danger").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
                }
            })
        }
    </script>
</body>

</html>