<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Sistema CF</title>

    <!-- CSS -->
    <link href="{{BASE_HREF}}/css/app.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sistema CF</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{BASE_HREF}}/logout">Sair</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        {% if user.perfil == "Administrador" %}
                        <li class="nav-item">
                            <a class="nav-link active" href="visualizacao.php">
                                <span data-feather="home"></span>
                                Inicio <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{BASE_HREF}}/usuarios">
                                <span data-feather="users"></span>
                                Usuarios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{BASE_HREF}}/turmas">
                                <span data-feather="layers"></span>
                                Turma
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{BASE_HREF}}/alunos/create">
                                <span data-feather="airplay"></span>
                                Alunos
                            </a>
                        </li>
                        {% endif %}
                        {% if user.perfil == "Administrador" or user.perfil == "Professor"%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{BASE_HREF}}/chamadas">
                                <span data-feather="file-text"></span>
                                Chamada
                            </a>
                        {% endif %}
                        {% if user.perfil == "Aluno" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{BASE_HREF}}/historico">
                                <span data-feather="file-text"></span>
                                Historico de Presença
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>

    <!-- Icons -->
    <script src="{{BASE_HREF}}/js/app.js"></script>
    <script>
        feather.replace()
    </script>
    {% block scripts %}
    {% endblock %}

</body>

</html>