{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <div class="row mt-4">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputNome">Aluno: </label>
                <h5>{{user.nome}}</h5>
            </div>
            <div class="form-group">
                <label for="inputNome">Nome da turma: </label>
                <h5>{{user.turmas[0].nome}}</h5>
            </div>
            <div class="form-group">
                <label for="inputNumeroSala">Numero da sala: </label>
                <h5>{{user.turmas[0].numero_sala}}</h5>
            </div>
            <div class="form-group">
                <label for="selectRole">Professor:</label>
                <h5>{{user.turmas[0].professor.nome}}</h5>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputNome">Presenças: </label>
                <h5>{{soma}}</h5>
            </div>
            <div class="form-group">
                <label for="inputNumeroSala">Faltas: </label>
                <h5>{{chamadas.count() - soma}}</h5>
            </div>
            <div class="form-group">
                <label for="selectRole">Aulas Restantes:</label>
                <h5>{{200 - chamadas.count()}}</h5>
            </div>
            <div class="form-group">
                <label for="selectRole">Aproveitamento</label>
                <div class="progress" style="width: 50%;">
                    <div class="progress-bar" role="progressbar" style="width: {{((200 - (chamadas.count() - soma)) / 200) *100}}%;" aria-valuenow="{{((200 - (chamadas.count() - soma)) / 200) *100}}" aria-valuemin="0" aria-valuemax="100">{{((200 - (chamadas.count() - soma)) / 200) *100}}%</div>
                  </div>
            </div>
        </div>
    </div>
    <div class="form-group mt-4">
        <h4 for="selectRole"><strong>Chamadas Realizadas</strong></h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for chamada in chamadas %}
                <tr>
                    <th scope="row">{{chamada.data | date("d/m/Y")}}</th>
                    <td>
                        {% for aluno in chamada.alunos %}
                        {% if aluno.id == user.id %}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" value="1" disabled
                                {% if aluno.pivot.status == 1 %}checked{% endif %}>
                            <label class="custom-control-label">Presente</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" disabled
                                {% if aluno.pivot.status == 0 %}checked{% endif %}>
                            <label class="custom-control-label">Falta</label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}