{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <form class="form-login mt-3" id="form">
        <div class="form-group">
            <label for="inputNome">Nome da turma: </label>
            <h5>{{turma.nome}}</h5>
        </div>
        <div class="form-group">
            <label for="inputNumeroSala">Numero da sala: </label>
            <h5>{{turma.numero_sala}}</h5>
        </div>
        <div class="form-group">
            <label for="selectRole">Professor:</label>
            <h5>{{turma.professor.nome}}</h5>
        </div>
        <div class="form-group">
            <label for="inputData">Data da Chamada: </label>
            <input type="date" class="form-control" name="data" id="inputData" placeholder="Data" maxlength="15"
                required value="{{ 'now' | date('Y-m-d') }}">
        </div>
        <div class="form-group">
            <label for="selectRole">Alunos:</label>
            <table class="table">
                <tbody>
                    {% for aluno in turma.alunos %}
                    <tr>
                        <th scope="row">{{aluno.nome}}</th>
                        <td>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1[{{aluno.id}}]" name="status[{{aluno.id}}]" class="custom-control-input"
                                    value="1">
                                <label class="custom-control-label" for="radio1[{{aluno.id}}]">Presente</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2[{{aluno.id}}]" name="status[{{aluno.id}}]" class="custom-control-input"
                                    value="0" checked>
                                <label class="custom-control-label" for="radio2[{{aluno.id}}]">Falta</label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="message"></div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block">Registrar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function () {
        $('#form').submit(function (e) {

            e.preventDefault()

            var form = $('#form').serialize()

            create(form)

            return false
        })
    })

    function create(form) {
        $("#message").removeClass("alert alert-success").html("")
        $("#message").removeClass("alert alert-danger").html("")
        $.ajax({
            url: '{{BASE_HREF}}/chamadas/{{turma.id}}',
            type: "POST",
            data: form,
            success: async function (result) {
                $("#form").get(0).reset();
                var json = $.parseJSON(result)
                return $("#message").addClass("alert alert-success").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            },
            error: function (result) {
                var json = $.parseJSON(result.responseText)
                return $("#message").addClass("alert alert-danger").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            }
        })
    }
</script>
{% endblock %}