{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <a href="{{BASE_HREF}}/chamadas/registradas" class="btn btn-success mt-4">Chamadas Realizadas</a>
    <div class="row">
        {% for turma in turmas %}
        <div class="col-sm-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Turma: {{turma.nome}}</h5>
                    <span class="card-text">Professor: {{turma.professor.nome}}</span>
                    <p class="card-text">Numero da Sala: {{turma.numero_sala}}</p>
                    <a href="{{BASE_HREF}}/chamadas/{{turma.id}}/create" class="btn btn-primary">Fazer Chamada</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function () {
        $('#form').submit(function (e) {

            e.preventDefault()

            var form = $('#form').serialize()

            create(form)

            return false
        })
    })

    function create(form) {
        $("#message").removeClass("alert alert-success").html("")
        $("#message").removeClass("alert alert-danger").html("")
        $.ajax({
            url: '{{BASE_HREF}}/turmas',
            type: "POST",
            data: form,
            success: async function (result) {
                $("#form").get(0).reset();
                var json = $.parseJSON(result)
                return $("#message").addClass("alert alert-success").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            },
            error: function (result) {
                var json = $.parseJSON(result.responseText)
                return $("#message").addClass("alert alert-danger").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            }
        })
    }
</script>
{% endblock %}