{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}} {{ chamada.data | date("d/m/Y") }}</h2>
        <div class="form-group">
            <label for="inputNome">Nome da turma: </label>
            <h5>{{chamada.turma.nome}}</h5>
        </div>
        <div class="form-group">
            <label for="inputNumeroSala">Numero da sala: </label>
            <h5>{{chamada.turma.numero_sala}}</h5>
        </div>
        <div class="form-group">
            <label for="selectRole">Professor:</label>
            <h5>{{chamada.turma.professor.nome}}</h5>
        </div>
        <div class="form-group">
            <label for="selectRole">Alunos:</label>
            <table class="table">
                <tbody>
                    {% for aluno in chamada.alunos %}
                    <tr>
                        <th scope="row">{{aluno.nome}}</th>
                        <td>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio1[{{aluno.id}}]" name="status[{{aluno.id}}]" class="custom-control-input"
                                    value="1" disabled {% if aluno.pivot.status == 1 %}checked{% endif %}> 
                                <label class="custom-control-label" for="radio1[{{aluno.id}}]">Presente</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="radio2[{{aluno.id}}]" name="status[{{aluno.id}}]" class="custom-control-input"
                                    value="0" disabled {% if aluno.pivot.status == 0 %}checked{% endif %}>
                                <label class="custom-control-label" for="radio2[{{aluno.id}}]">Falta</label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}