{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <form class="form-login mt-3" id="form">
        <div class="form-group">
            <label for="selectRole">Turma:</label>
            <select class="form-control" name="turma_id" id="selectRole" required>
                <option>Selecione</option>
                {% for turma in turmas %}
                <option value="{{turma.id}}">{{turma.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="selectRole">Aluno:</label>
            <select class="form-control" name="aluno_id" id="selectRole" required>
                <option>Selecione</option>
                {% for aluno in alunos %}
                {% if not aluno.turmas[0] %}
                <option value="{{aluno.id}}">{{aluno.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div id="message"></div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block">Cadastrar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function () {
        $('#form').submit(function (e) {

            e.preventDefault()

            var form = $('#form').serialize()

            create(form)

            return false
        })
    })

    function create(form) {
        $("#message").removeClass("alert alert-success").html("")
        $("#message").removeClass("alert alert-danger").html("")
        $.ajax({
            url: '{{BASE_HREF}}/alunos',
            type: "POST",
            data: form,
            success: async function (result) {
                return location.href = '{{BASE_HREF}}/usuarios'
            },
            error: function (result) {
                var json = $.parseJSON(result.responseText)
                return $("#message").addClass("alert alert-danger").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            }
        })
    }
</script>
{% endblock %}