{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <form class="form-login mt-3" id="form">
        <div class="form-group">
            <label for="inputNome">Nome: </label>
            <input type="text" class="form-control" name="nome" id="inputNome" placeholder="Digite seu nome" required
                value="{{usuario.nome}}">
        </div>
        <div class="form-group">
            <label for="inputUsuario">Usuario: </label>
            <input type="text" class="form-control" name="usuario" id="inputUsuario" placeholder="Digite seu usuario"
                maxlength="30" required value="{{usuario.usuario}}">
        </div>
        <div class="form-group">
            <label for="selectPerfil">Perfil:</label>
            <select class="form-control" name="perfil" id="selectPerfil" required>
                <option>Selecione</option>
                <option value="1" {% if usuario.perfil == "Administrador" %}selected{% endif %}>Administrador</option>
                <option value="2" {% if usuario.perfil == "Professor" %}selected{% endif %}>Professor</option>
                <option value="3" {% if usuario.perfil == "Aluno" %}selected{% endif %}>Aluno</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputSenha">Senha: </label>
            <input type="password" class="form-control" name="senha" id="inputSenha" placeholder="Digite sua senha"
                maxlength="15" required>
        </div>
        <div id="message"></div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-block">Atualizar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function () {
        $('#form').submit(function (e) {

            e.preventDefault()

            var form = $('#form').serialize()

            create(form)

            return false
        })
    })

    function create(form) {
        $("#message").removeClass("alert alert-success").html("")
        $("#message").removeClass("alert alert-danger").html("")
        $.ajax({
            url: '{{BASE_HREF}}/usuarios/{{usuario.id}}',
            type: "POST",
            data: form,
            success: async function (result) {
                return location.href = '{{BASE_HREF}}/usuarios'
            },
            error: function (result) {
                var json = $.parseJSON(result.responseText)
                return $("#message").addClass("alert alert-danger").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            }
        })
    }
</script>
{% endblock %}