{% extends "_layouts/app.html" %}

{% block content %}
<div class="container">
    <h2 class="form-login-heading">{{title}}</h2>
    <a href="{{BASE_HREF}}/usuarios/create" class="btn btn-primary mt-4">Novo Usuario</a>
    <div id="message" class="mt-3"></div>
    <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Usuarios</th>
            <th scope="col">Perfil</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
          <tr>
            <th scope="row">{{usuario.id}}</th>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.usuario}}</td>
            <td><span class="badge badge-info">{{usuario.perfil}}</span></td>
            <td>
                <a type="button" href="{{BASE_HREF}}/usuarios/{{usuario.id}}/edit" class="btn btn-primary btn-sm btn-sm2">Alterar</a>
                <button type="button" onclick="deletar({{usuario.id}})" class="btn btn-danger btn-sm btn-sm2">Remover</button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    function deletar(id) {
        $("#message").removeClass("alert alert-success").html("")
        $("#message").removeClass("alert alert-danger").html("")
        $.ajax({
            url: '{{BASE_HREF}}/usuarios/destroy/'+id,
            type: "POST",
            success: async function (result) {
                document.location.reload();
            },
            error: function (result) {
                var json = $.parseJSON(result.responseText)
                return $("#message").addClass("alert alert-danger mt-3").html(`<strong>${json.titulo}</strong> ${json.mensagem}`)
            }
        })
    }
</script>
{% endblock %}